<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891811580669-77fd7rju35qgst37gtm754u0n6ekqk6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891811580669-77fd7rju35qgst37gtm754u0n6ekqk6r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>891811580669-sglqipaag1jprkd8m7v0lc4srrdpoh1l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3LpEtPJ5o58CUfoiwo8lQ_mcOL3IAbB8</string>
	<key>GCM_SENDER_ID</key>
	<string>891811580669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.redcanvas.radonctables6</string>
	<key>PROJECT_ID</key>
	<string>radonctables6</string>
	<key>STORAGE_BUCKET</key>
	<string>radonctables6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891811580669:ios:4921177a0cffa92b03cc94</string>
</dict>
</plist>